<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    a{
        float:right;
    }
    body{
        background-color: aliceblue;
        margin: 10%;
    }
    h1{
        color: black;
    }
</style>
<body>
    <h3>PLACEMENT PREDICTION</h3>
    <a href="/index1">Get Start</a>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<center>
    <h1>Identifying Patterns and Trends in Campus <br>
        Placement Data using Machine Learning</h1>
</center>
    
</body>
</html>